* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: white;
    background-image: url('img/OIP.jpg'); /* Defina a imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Faz com que a imagem de fundo fique fixa ao rolar a página */
    height: 100vh; /* Define a altura do body como a altura total da viewport */
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2; /* Certifique-se de que o header esteja acima da imagem de fundo */
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu-icon {
    font-size: 24px;
    display: none; /* Só exibir em telas menores, usando media queries */
}

.leader-info {
    font-weight: bold;
    font-size: 18px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha o conteúdo horizontalmente ao centro */
    justify-content: center; /* Alinha o conteúdo verticalmente ao centro */
    text-align: center;
    padding: 50px 20px;
    position: relative;
    z-index: 2;
    border-radius: 10px;
    margin: 20px;
    height: 100vh; /* Faz com que a seção ocupe toda a altura da tela */
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center; /* Centraliza o texto horizontalmente */
}


.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 150px;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    max-width: 600px;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
}

.leader-image {
    margin-top: 20px;
}

.leader-image img {
    width: 200px;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .content {
        max-width: 600px;
    }

}

.círculo {
    width: 5000px;
    height: 500px;
    margin: 100px;
}